.fifty {
    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1280px;
        margin: 0 auto;
        @media screen and (max-width: 992px){
            flex-direction: column;
        }
        .item {
            padding: 0;
            width: 40%;
            text-align: center;
            @media screen and (max-width: 992px){
                width: 100%;
            }
            &:nth-child(1) {
                margin-right: 56px;
                @media screen and (max-width: 992px){
                    margin-right: 0;
                }
            }
            &:nth-child(2) {
                margin-left: 56px;
                @media screen and (max-width: 992px){
                    margin-left: 0;
                }
            }
            picture {
                padding-bottom: 16px;
            }
            .title {
                font-weight: 600;
                font-size: 24px;
                color: #000;
                line-height: 1.33;
                text-align: center;
            }
        }
    }
}